.header {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 100px;

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        background: transparentize($dark-blue, 0.1);
    }
}