.header-news {
    text-align: center;
    font-size: 0;
    margin-bottom: 50px;
    @media (max-width: 1199px) {
        margin-bottom: 20px;
    }

    h1 {
        text-align: left;
        max-width: 1440px;
        margin: 0 auto;
        padding: 140px 0 37px 0;
        @include font-style('Oswald', 62px, 700);
        text-transform: uppercase;

        @media (min-width: 2100px) {
            max-width: none;
            padding-left: 5px;
        }
        @media (max-width: 1199px) {
            font-size: 58px;
            padding-top: 80px;
        }
        @media (max-width: 991px) {
            font-size: 54px;
            padding: 30px 0;
        }
        @media (max-width: 767px) {
            font-size: 50px;
            padding: 0 0 30px 0;
            font-weight: 400;
        }
        @media (max-width: 599px) {
            font-size: 46px;
        }
        @media (max-width: 400px) {
            font-size: 44px;
            text-align: center;
        }
    }
}

