.footer {
    background: $black;
    padding: 46px 0;
    @media (max-width: 1199px) {
        padding: 40px 0;
    }

    .col-3 {
        width: 25%;

        @media (max-width: 980px) {
            width: 33.33%;
        }
        @media (max-width: 599px) {
            width: 50%;
        }

        p {
            @include font-style('open sans', 22px, 300);
            margin: 0 0 17px 0;
            text-transform: uppercase;
            @media (max-width: 1199px) {
                font-size: 18px;
                margin-bottom: 10px;
            }
            @media (max-width: 767px) {
                font-size: 16px;
            }
        }

        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;

            li {
                margin: 0;
                padding: 0;
                display: block;

                a {
                    display: block;
                    color: $white;
                    @include font-style('open sans', 20px, 300);
                    padding: 5px 10px 5px 0;
                    @media (max-width: 1199px) {
                        font-size: 16px;
                    }
                    @media (max-width: 767px) {
                        font-size: 14px;
                    }
                }
            }
        }
    }

    .contact-form {
        @media (max-width: 599px) {
            width: 100%;
            margin: 30px 0 10px 0;
        }

        form {
            display: block;

            label {
                @include font-style('open sans', 12px, 300);
                color: $white;
                text-transform: uppercase;
                line-height: 150%;
                display: none;
            }

            input {
                color: $white;
                border: 0;
                border-bottom: 2px solid $white;
                padding: 15px 0 5px 0;
                margin: 0 0 18px 0;
                width: 100%;
                display: block;
                background: none;
                @include font-style('open sans', 16px, 300);
                @media (max-width: 767px) {
                    font-size: 14px;
                }

                &:focus {
                    border-bottom-color: $light-blue;
                }

                &::-webkit-input-placeholder {
                    color: $white;
                }
                &::-moz-placeholder {
                    color: $white;
                }
                &::placeholder {
                    color: $white;
                }
                &:-ms-input-placeholder {
                    color: $white;
                }
            }

            .btn {
                display: inline-block;
                background: $light-blue;
                color: $white;
                padding: 7px;
                width: 100%;
                margin-top: 16px;
                font-size: 16px;

                &:hover {
                    background: darken($light-blue, 10%);
                }
            }
        }
    }

    .phone-number {
        @include font-style('oswald', 57px, 400);
        display: block;
        padding: 42px 0 50px 0;
        clear: left;
        @media (max-width: 1199px) {
            font-size: 50px;
        }
        @media (max-width: 767px) {
            font-size: 40px;
        }
        @media (max-width: 400px) {
            text-align: center;
            width: 100%;
        }

        &:hover {
            color: $white;
        }
    }

    .copyright {
        float: left;
        width: 100%;
        margin: 0;

        span, a {
            @include font-style('open sans', 18px, 300);
            color: $white;
            @media (max-width: 1199px) {
                font-size: 14px;
            }
            @media (max-width: 767px) {
                font-size: 12px;
            }
        }

        span {
            &:first-of-type {
                width: 25%;
            }

            @media (max-width: 980px) {
                &:first-of-type {
                    width: 33.33%;
                }

                &.pull-right {
                    width: 100%;
                    padding-top: 15px;
                }
            }
            @media (max-width: 599px) {
                &:first-of-type {
                    width: 50%;
                }
            }
            @media (max-width: 400px) {
                &:first-of-type {
                    width: auto;
                }

                &:nth-child(2) {
                    float: right;
                }
            }
        }
    }
}